snippet hugo "hugo front matters" b
---
title: "${1:Title}"
date: 
author: Tomas Dedic
description: "${2:Desc}"
lead: "working"
categories:
  - "Openshift"
tags:
  - "OCP"
---
endsnippet


snippet code "code shortcode" b
{{< code file="${1:file}" lang="${2:yaml}" >}}
endsnippet

snippet codeq "code shortcode out of page scope" b
{{< codeq file="${1:file}" lang="${2:yaml}" >}}
endsnippet

snippet fig "figure shortcode" b
{{< figure src="${1:file}" caption="${2:caption}" >}}
endsnippet
